* {
    background-color: antiquewhite;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

h1, h2 {
    font-weight: bold;
    color:rgba(164, 97, 226, 0.89)
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

img {
    width: 750px;
    height: 300px;
}

.recipe-list a {
    background-color:darkturquoise;
}

.ingredients li {
    color:rgba(84, 136, 32, 0.692) ;
}

.steps li {
    color:rgba(69, 69, 187, 0.753);
}